@model TeamSeasonsDetailsViewModel

@{
    ViewData["Title"] = Model.Title;
}

<h1>@Model.Title</h1>

<div>
    <h4>Details</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TeamSeason.TeamName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TeamSeason.TeamName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TeamSeason.SeasonId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TeamSeason.SeasonId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TeamSeason.LeagueName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TeamSeason.LeagueName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TeamSeason.ConferenceName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TeamSeason.ConferenceName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TeamSeason.DivisionName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TeamSeason.DivisionName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TeamSeason.Games)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TeamSeason.Games)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TeamSeason.Wins)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TeamSeason.Wins)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TeamSeason.Losses)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TeamSeason.Losses)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TeamSeason.Ties)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TeamSeason.Ties)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TeamSeason.WinningPercentage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TeamSeason.WinningPercentage)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TeamSeason.PointsFor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TeamSeason.PointsFor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TeamSeason.PointsAgainst)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TeamSeason.PointsAgainst)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TeamSeason.PythagoreanWins)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TeamSeason.PythagoreanWins)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TeamSeason.PythagoreanLosses)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TeamSeason.PythagoreanLosses)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TeamSeason.OffensiveAverage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TeamSeason.OffensiveAverage)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TeamSeason.OffensiveFactor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TeamSeason.OffensiveFactor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TeamSeason.OffensiveIndex)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TeamSeason.OffensiveIndex)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TeamSeason.DefensiveAverage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TeamSeason.DefensiveAverage)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TeamSeason.DefensiveFactor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TeamSeason.DefensiveFactor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TeamSeason.DefensiveIndex)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TeamSeason.DefensiveIndex)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TeamSeason.FinalPythagoreanWinningPercentage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TeamSeason.FinalPythagoreanWinningPercentage)
        </dd>
    </dl>
</div>

@if (Model.TeamSeasonScheduleProfile != null)
{
    <h5>Team Season Schedule Profile</h5>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    Opponent
                </th>
                <th class="text-right">
                    GPF
                </th>
                <th class="text-right">
                    GPA
                </th>
                <th class="text-right">
                    OW
                </th>
                <th class="text-right">
                    OL
                </th>
                <th class="text-right">
                    OT
                </th>
                <th class="text-right">
                    OWPct
                </th>
                <th class="text-right">
                    OWG
                </th>
                <th class="text-right">
                    OWPF
                </th>
                <th class="text-right">
                    OWPA
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var opponentProfile in Model.TeamSeasonScheduleProfile)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => opponentProfile.Opponent)
                    </td>
                    <td class="text-right">
                        @Html.DisplayFor(modelItem => opponentProfile.GamePointsFor)
                    </td>
                    <td class="text-right">
                        @Html.DisplayFor(modelItem => opponentProfile.GamePointsAgainst)
                    </td>
                    <td class="text-right">
                        @Html.DisplayFor(modelItem => opponentProfile.OpponentWins)
                    </td>
                    <td class="text-right">
                        @Html.DisplayFor(modelItem => opponentProfile.OpponentLosses)
                    </td>
                    <td class="text-right">
                        @Html.DisplayFor(modelItem => opponentProfile.OpponentTies)
                    </td>
                    <td class="text-right">
                        @Html.DisplayFor(modelItem => opponentProfile.OpponentWinningPercentage)
                    </td>
                    <td class="text-right">
                        @Html.DisplayFor(modelItem => opponentProfile.OpponentWeightedGames)
                    </td>
                    <td class="text-right">
                        @Html.DisplayFor(modelItem => opponentProfile.OpponentWeightedPointsFor)
                    </td>
                    <td class="text-right">
                        @Html.DisplayFor(modelItem => opponentProfile.OpponentWeightedPointsAgainst)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@if (Model.TeamSeasonScheduleTotals != null)
{
    <h5>Team Season Schedule Totals</h5>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th class="text-right">
                    G
                </th>
                <th class="text-right">
                    PF
                </th>
                <th class="text-right">
                    PA
                </th>
                <th class="text-right">
                    SW
                </th>
                <th class="text-right">
                    SL
                </th>
                <th class="text-right">
                    ST
                </th>
                <th class="text-right">
                    SWPct
                </th>
                <th class="text-right">
                    SG
                </th>
                <th class="text-right">
                    SPF
                </th>
                <th class="text-right">
                    SPA
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-right">
                    @Html.DisplayFor(model => model.TeamSeasonScheduleTotals.Games)
                </td>
                <td class="text-right">
                    @Html.DisplayFor(model => model.TeamSeasonScheduleTotals.PointsFor)
                </td>
                <td class="text-right">
                    @Html.DisplayFor(model => model.TeamSeasonScheduleTotals.PointsAgainst)
                </td>
                <td class="text-right">
                    @Html.DisplayFor(model => model.TeamSeasonScheduleTotals.ScheduleWins)
                </td>
                <td class="text-right">
                    @Html.DisplayFor(model => model.TeamSeasonScheduleTotals.ScheduleLosses)
                </td>
                <td class="text-right">
                    @Html.DisplayFor(model => model.TeamSeasonScheduleTotals.ScheduleTies)
                </td>
                <td class="text-right">
                    @Html.DisplayFor(model => model.TeamSeasonScheduleTotals.ScheduleWinningPercentage)
                </td>
                <td class="text-right">
                    @Html.DisplayFor(model => model.TeamSeasonScheduleTotals.ScheduleGames)
                </td>
                <td class="text-right">
                    @Html.DisplayFor(model => model.TeamSeasonScheduleTotals.SchedulePointsFor)
                </td>
                <td class="text-right">
                    @Html.DisplayFor(model => model.TeamSeasonScheduleTotals.SchedulePointsAgainst)
                </td>
            </tr>
        </tbody>
    </table>
}

@if (Model.TeamSeasonScheduleAverages != null)
{
    <h5>Team Season Schedule Averages</h5>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th class="text-right">
                    PF
                </th>
                <th class="text-right">
                    PA
                </th>
                <th class="text-right">
                    SPF
                </th>
                <th class="text-right">
                    SPA
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-right">
                    @Html.DisplayFor(model => model.TeamSeasonScheduleAverages.PointsFor)
                </td>
                <td class="text-right">
                    @Html.DisplayFor(model => model.TeamSeasonScheduleAverages.PointsAgainst)
                </td>
                <td class="text-right">
                    @Html.DisplayFor(model => model.TeamSeasonScheduleAverages.SchedulePointsFor)
                </td>
                <td class="text-right">
                    @Html.DisplayFor(model => model.TeamSeasonScheduleAverages.SchedulePointsAgainst)
                </td>
            </tr>
        </tbody>
    </table>
}

<div>
    <a asp-action="Index">Back to List</a>
</div>
