@model TeamSeasonsIndexViewModel

@{
    ViewData["Title"] = Model.Title;
}

<h1>@Model.Title</h1>

<form>
    <p>
        <label class="col-form-label">Season</label>
        @Html.DropDownList("Seasons", null, htmlAttributes: new
        {
            @onchange = "document.location.href='/TeamSeasons/SetSelectedSeasonId?SeasonId=' + this.options[this.selectedIndex].value;"
        })
    </p>
    <p>
        <a asp-action="RunWeeklyUpdate" class="btn btn-primary btn-lg">Run Weekly Update</a>
    </p>
</form>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>W</th>
            <th>L</th>
            <th>T</th>
            <th>Pct</th>
            <th>PF</th>
            <th>PA</th>
            <th>PythW</th>
            <th>PythL</th>
            <th>OA</th>
            <th>OF</th>
            <th>OI</th>
            <th>DA</th>
            <th>DF</th>
            <th>DI</th>
            <th>FinPythPct</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var teamSeason in Model.TeamSeasons)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => teamSeason.TeamName)
                </td>
                <td class="text-right">
                    @Html.DisplayFor(modelItem => teamSeason.Wins)
                </td>
                <td class="text-right">
                    @Html.DisplayFor(modelItem => teamSeason.Losses)
                </td>
                <td class="text-right">
                    @Html.DisplayFor(modelItem => teamSeason.Ties)
                </td>
                <td class="text-right">
                    @Html.DisplayFor(modelItem => teamSeason.WinningPercentage)
                </td>
                <td class="text-right">
                    @Html.DisplayFor(modelItem => teamSeason.PointsFor)
                </td>
                <td class="text-right">
                    @Html.DisplayFor(modelItem => teamSeason.PointsAgainst)
                </td>
                <td class="text-right">
                    @Html.DisplayFor(modelItem => teamSeason.PythagoreanWins)
                </td>
                <td class="text-right">
                    @Html.DisplayFor(modelItem => teamSeason.PythagoreanLosses)
                </td>
                <td class="text-right">
                    @Html.DisplayFor(modelItem => teamSeason.OffensiveAverage)
                </td>
                <td class="text-right">
                    @Html.DisplayFor(modelItem => teamSeason.OffensiveFactor)
                </td>
                <td class="text-right">
                    @Html.DisplayFor(modelItem => teamSeason.OffensiveIndex)
                </td>
                <td class="text-right">
                    @Html.DisplayFor(modelItem => teamSeason.DefensiveAverage)
                </td>
                <td class="text-right">
                    @Html.DisplayFor(modelItem => teamSeason.DefensiveFactor)
                </td>
                <td class="text-right">
                    @Html.DisplayFor(modelItem => teamSeason.DefensiveIndex)
                </td>
                <td class="text-right">
                    @Html.DisplayFor(modelItem => teamSeason.FinalPythagoreanWinningPercentage)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@teamSeason.ID" class="btn btn-primary btn-sm">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
