@model SeasonTeamListViewModel

@{
    ViewData["Title"] = "Teams";
}

<h1>Teams</h1>

<form>
    <p>
        <label class="col-form-label">Season</label>
        @Html.DropDownList("Seasons", null, htmlAttributes: new
        {
            @onchange = "document.location.href='/SeasonTeams/SetSelectedSeasonId?SeasonId=' + this.options[this.selectedIndex].value;"
        })
    </p>
</form>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>W</th>
            <th>L</th>
            <th>T</th>
            <th>Pct</th>
            <th>PF</th>
            <th>PA</th>
            <th>PythW</th>
            <th>PythL</th>
            <th>OA</th>
            <th>OF</th>
            <th>OI</th>
            <th>DA</th>
            <th>DF</th>
            <th>DI</th>
            <th>FinPythPct</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var seasonTeam in Model.SeasonTeams)
    {
        <tr>
            <td>
                @seasonTeam.TeamName
            </td>
            <td>
                @seasonTeam.Wins
            </td>
            <td>
                @seasonTeam.Losses
            </td>
            <td>
                @seasonTeam.Ties
            </td>
            <td>
                @seasonTeam.WinningPercentage
            </td>
            <td>
                @seasonTeam.PointsFor
            </td>
            <td>
                @seasonTeam.PointsAgainst
            </td>
            <td>
                @seasonTeam.PythagoreanWins
            </td>
            <td>
                @seasonTeam.PythagoreanLosses
            </td>
            <td>
                @seasonTeam.OffensiveAverage
            </td>
            <td>
                @seasonTeam.OffensiveFactor
            </td>
            <td>
                @seasonTeam.OffensiveIndex
            </td>
            <td>
                @seasonTeam.DefensiveAverage
            </td>
            <td>
                @seasonTeam.DefensiveFactor
            </td>
            <td>
                @seasonTeam.DefensiveIndex
            </td>
            <td>
                @seasonTeam.FinalPythagoreanWinningPercentage
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@seasonTeam.ID" class="btn btn-primary">Details</a>
            </td>
        </tr>
    }
    </tbody>
</table>
