@model SeasonsIndexViewModel

@{
    ViewData["Title"] = Model.Title;
}

<h1>@Model.Title</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Seasons.SingleOrDefault().Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Seasons.SingleOrDefault().NumOfWeeks)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Seasons.SingleOrDefault().NumOfWeeksCompleted)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var season in Model.Seasons) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => season.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => season.NumOfWeeks)
            </td>
            <td>
                @Html.DisplayFor(modelItem => season.NumOfWeeksCompleted)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@season.ID" class="btn btn-primary btn-sm">Edit</a>
                <a asp-action="Details" asp-route-id="@season.ID" class="btn btn-primary btn-sm">Details</a>
                <a asp-action="Delete" asp-route-id="@season.ID" class="btn btn-primary btn-sm">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
