@model LeagueDetailsViewModel

@{
    ViewData["Title"] = Model.Title;
}

<h1>@Model.Title</h1>

<div>
    <h4>Details</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            <label asp-for="League.LongName"></label>
        </dt>
        <dd class="col-sm-10">
            @Model.League.LongName
        </dd>
        <dt class="col-sm-2">
            <label asp-for="League.ShortName"></label>
        </dt>
        <dd class = "col-sm-10">
            @Model.League.ShortName
        </dd>
        <dt class="col-sm-2">
            <label asp-for="League.FirstSeasonId"></label>
        </dt>
        <dd class="col-sm-10">
            @Model.League.FirstSeasonId
        </dd>
        <dt class="col-sm-2">
            <label asp-for="League.LastSeasonId"></label>
        </dt>
        <dd class="col-sm-10">
            @Model.League.LastSeasonId
        </dd>
    </dl>
</div>
<div>
    <p>
        <a asp-action="Edit" asp-route-id="@Model.League.ID" class="btn btn-primary">Edit</a>
    </p>
    <p>
        <a asp-action="Index">Back to List</a>
    </p>
</div>
