@model LeaguesIndexViewModel

@{
    ViewData["Title"] = Model.Title;
}

<h1>@Model.Title</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Leagues.SingleOrDefault().LongName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Leagues.SingleOrDefault().ShortName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Leagues.SingleOrDefault().FirstSeasonYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Leagues.SingleOrDefault().LastSeasonYear)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var league in Model.Leagues) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => league.LongName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => league.ShortName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => league.FirstSeasonYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => league.LastSeasonYear)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@league.ID" class="btn btn-primary btn-sm">Edit</a>
                <a asp-action="Details" asp-route-id="@league.ID" class="btn btn-primary btn-sm">Details</a>
                <a asp-action="Delete" asp-route-id="@league.ID" class="btn btn-primary btn-sm">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
