@model Game

@{
    ViewData["Title"] = "Delete";
}

<h1>Game</h1>

<div>
    <h4>Delete</h4>
    <hr />
    <h3>Are you sure you want to delete this?</h3>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SeasonId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SeasonId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Week)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Week)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GuestName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GuestName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GuestScore)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GuestScore)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HostName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HostName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HostScore)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HostScore)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WinnerName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WinnerName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WinnerScore)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WinnerScore)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LoserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LoserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LoserScore)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LoserScore)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsPlayoffGame)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsPlayoffGame)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Notes)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <p>
            <button type="submit" class="btn btn-danger">Delete</button>
        </p>
        <p>
            <a asp-action="Index">Back to List</a>
        </p>
    </form>
</div>
