@model GamesDetailsViewModel

@{
    ViewData["Title"] = Model.Title;
}

<h1>@Model.Title</h1>

<div>
    <h4>Details</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            <label asp-for="Game.SeasonId"></label>
        </dt>
        <dd class="col-sm-10">
            @Model.Game.SeasonId
        </dd>
        <dt class="col-sm-2">
            <label asp-for="Game.Week"></label>
        </dt>
        <dd class="col-sm-10">
            @Model.Game.Week
        </dd>
        <dt class="col-sm-2">
            <label asp-for="Game.GuestName"></label>
        </dt>
        <dd class="col-sm-10">
            @Model.Game.GuestName
        </dd>
        <dt class="col-sm-2">
            <label asp-for="Game.GuestScore"></label>
        </dt>
        <dd class="col-sm-10">
            @Model.Game.GuestScore
        </dd>
        <dt class="col-sm-2">
            <label asp-for="Game.HostName"></label>
        </dt>
        <dd class="col-sm-10">
            @Model.Game.HostName
        </dd>
        <dt class="col-sm-2">
            <label asp-for="Game.HostScore"></label>
        </dt>
        <dd class="col-sm-10">
            @Model.Game.HostScore
        </dd>
        <dt class="col-sm-2">
            <label asp-for="Game.WinnerName"></label>
        </dt>
        <dd class="col-sm-10">
            @Model.Game.WinnerName
        </dd>
        <dt class="col-sm-2">
            <label asp-for="Game.WinnerScore"></label>
        </dt>
        <dd class="col-sm-10">
            @Model.Game.WinnerScore
        </dd>
        <dt class="col-sm-2">
            <label asp-for="Game.LoserName"></label>
        </dt>
        <dd class="col-sm-10">
            @Model.Game.LoserName
        </dd>
        <dt class="col-sm-2">
            <label asp-for="Game.LoserScore"></label>
        </dt>
        <dd class="col-sm-10">
            @Model.Game.LoserScore
        </dd>
        <dt class="col-sm-2">
            <label asp-for="Game.IsPlayoffGame"></label>
        </dt>
        <dd class="col-sm-10">
            @Model.Game.IsPlayoffGame
        </dd>
        <dt class="col-sm-2">
            <label asp-for="Game.Notes"></label>
        </dt>
        <dd class="col-sm-10">
            @Model.Game.Notes
        </dd>
    </dl>
</div>
<div>
    <p>
        <a asp-action="Edit" asp-route-id="@Model.Game.ID" class="btn btn-primary">Edit</a>
    </p>
    <p>
        <a asp-action="Index">Back to List</a>
    </p>
</div>
