@model Game

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Game</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            <label asp-for="SeasonId"></label>
        </dt>
        <dd class="col-sm-10">
            @Model.SeasonId
        </dd>
        <dt class="col-sm-2">
            <label asp-for="Week"></label>
        </dt>
        <dd class="col-sm-10">
            @Model.Week
        </dd>
        <dt class="col-sm-2">
            <label asp-for="GuestName"></label>
        </dt>
        <dd class="col-sm-10">
            @Model.GuestName
        </dd>
        <dt class="col-sm-2">
            <label asp-for="GuestScore"></label>
        </dt>
        <dd class="col-sm-10">
            @Model.GuestScore
        </dd>
        <dt class="col-sm-2">
            <label asp-for="HostName"></label>
        </dt>
        <dd class="col-sm-10">
            @Model.HostName
        </dd>
        <dt class="col-sm-2">
            <label asp-for="HostScore"></label>
        </dt>
        <dd class="col-sm-10">
            @Model.HostScore
        </dd>
        <dt class="col-sm-2">
            <label asp-for="WinnerName"></label>
        </dt>
        <dd class="col-sm-10">
            @Model.WinnerName
        </dd>
        <dt class="col-sm-2">
            <label asp-for="WinnerScore"></label>
        </dt>
        <dd class="col-sm-10">
            @Model.WinnerScore
        </dd>
        <dt class="col-sm-2">
            <label asp-for="LoserName"></label>
        </dt>
        <dd class="col-sm-10">
            @Model.LoserName
        </dd>
        <dt class="col-sm-2">
            <label asp-for="LoserScore"></label>
        </dt>
        <dd class="col-sm-10">
            @Model.LoserScore
        </dd>
        <dt class="col-sm-2">
            <label asp-for="IsPlayoffGame"></label>
        </dt>
        <dd class="col-sm-10">
            @Model.IsPlayoffGame
        </dd>
        <dt class="col-sm-2">
            <label asp-for="Notes"></label>
        </dt>
        <dd class="col-sm-10">
            @Model.Notes
        </dd>
    </dl>
</div>
<div>
    <p>
        <a asp-action="Edit" asp-route-id="@Model.ID" class="btn btn-primary">Edit</a>
    </p>
    <p>
        <a asp-action="Index">Back to List</a>
    </p>
</div>
