@model GamesDetailsViewModel

@{
    ViewData["Title"] = Model.Title;
}

<h1>@Model.Title</h1>

<div>
    <h4>Details</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Game.SeasonYear)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Game.SeasonYear)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Game.Week)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Game.Week)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Game.GuestName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Game.GuestName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Game.GuestScore)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Game.GuestScore)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Game.HostName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Game.HostName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Game.HostScore)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Game.HostScore)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Game.WinnerName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Game.WinnerName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Game.WinnerScore)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Game.WinnerScore)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Game.LoserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Game.LoserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Game.LoserScore)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Game.LoserScore)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Game.IsPlayoffGame)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Game.IsPlayoffGame)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Game.Notes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Game.Notes)
        </dd>
    </dl>
</div>
<div>
    <p>
        <a asp-action="Edit" asp-route-id="@Model.Game.ID" class="btn btn-primary">Edit</a>
    </p>
    <p>
        <a asp-action="Index">Back to List</a>
    </p>
</div>
