@model GameListViewModel

@{
    ViewData["Title"] = "Games";
}

<h1>Games</h1>

<form>
    <p>
        <label class="col-form-label">Season</label>
        @Html.DropDownList("Seasons", null, htmlAttributes: new
        {
            @onchange = "document.location.href='/Games/SetSelectedSeasonId?SeasonId=' + this.options[this.selectedIndex].value;"
        })
    </p>
</form>

<form>
    <p>
        <label class="col-form-label">Week</label>
        @Html.DropDownList("Weeks", null, string.Empty, htmlAttributes: new
        {
            @onchange = "document.location.href='/Games/SetSelectedWeek?Week=' + this.options[this.selectedIndex].value;"
        })
    </p>
</form>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                <label asp-for="@Model.Games.SingleOrDefault().SeasonId"></label>
            </th>
            <th>
                <label asp-for="@Model.Games.SingleOrDefault().Week"></label>
            </th>
            <th>
                <label asp-for="@Model.Games.SingleOrDefault().GuestName"></label>
            </th>
            <th>
                <label asp-for="@Model.Games.SingleOrDefault().GuestScore"></label>
            </th>
            <th>
                <label asp-for="@Model.Games.SingleOrDefault().HostName"></label>
            </th>
            <th>
                <label asp-for="@Model.Games.SingleOrDefault().HostScore"></label>
            </th>
            <th>
                <label asp-for="@Model.Games.SingleOrDefault().IsPlayoffGame"></label>
            </th>
            <th>
                <label asp-for="@Model.Games.SingleOrDefault().Notes"></label>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var game in Model.Games)
    {
        <tr>
            <td>
                @game.SeasonId
            </td>
            <td>
                @game.Week
            </td>
            <td>
                @game.GuestName
            </td>
            <td>
                @game.GuestScore
            </td>
            <td>
                @game.HostName
            </td>
            <td>
                @game.HostScore
            </td>
            <td>
                @game.IsPlayoffGame
            </td>
            <td>
                @game.Notes
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@game.ID" class="btn btn-primary btn-sm">Edit</a>
                <a asp-action="Details" asp-route-id="@game.ID" class="btn btn-primary btn-sm">Details</a>
                <a asp-action="Delete" asp-route-id="@game.ID" class="btn btn-primary btn-sm">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
