@model TeamSeasonsDetailsViewModel

@{
    ViewData["Title"] = Model.Title;
}

<h1>@Model.Title</h1>

<div>
    <h4>Details</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeamSeason.TeamName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeamSeason.TeamName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeamSeason.SeasonYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeamSeason.SeasonYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeamSeason.LeagueName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeamSeason.LeagueName)
        </dd>
    </dl>
</div>
<div>
    <p>
        <a asp-action="Edit" asp-route-id="@Model.TeamSeason.ID" class="btn btn-primary">Edit</a>
    </p>
    <p>
        <a asp-action="Index">Back to List</a>
    </p>
</div>
